// adding rbg colors to reference later

$purple: #8d53ff;
$pink: #ca6be6;
$white: #f8f8f8;
$dark: #34495e;
$red: #ff6057;
$yellow: #ffee2e;
$green: #27c93f;
$lightgray: #d2d2d2;
$darkgray: #5b5b5b;

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
